.footer {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  background-color: var(--primary-color);
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
.footer .container form {
  padding: 2rem;
  background-color: var(--secondary);
  border-radius: 16px;
}
.footer .container form h3 {
  font-family: var(--font);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: var(--white);
}
.footer .container form label {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--white);
  gap: 10px;
}
.footer .container form label .input-value {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  width: 68%;
}
.footer .container form label .submit-footer {
  width: 28%;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--secondary);
  color: var(--white);
  cursor: pointer;
  border: 1px solid var(--secondary);
  transition: all 0.4s ease-in;
}
.footer .container form label .submit-footer:hover {
  background-color: var(--white);
  color: var(--secondary);
}
.footer .container .footer-icons ul {
  gap: 10px;
}
.footer .container .footer-icons ul li a {
  color: var(--secondary);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.footer .container .footer-icons ul li a:hover {
  color: var(--light-blue);
}
.footer .container .footer-icons ul li i {
  font-size: 30px;
}
.footer .container .footer-info p {
  color: var(--black);
  font-size: 0.9em;
}

@media (max-width: 1300px) {
  .footer {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    background-color: var(--primary-color);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
  }
  .footer .container {
    max-width: 1100px;
  }
  .footer .container form {
    padding: 2rem;
    background-color: var(--secondary);
    border-radius: 16px;
  }
  .footer .container form h3 {
    font-family: var(--font);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: var(--white);
  }
  .footer .container form label {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white);
    gap: 10px;
  }
  .footer .container form label .input-value {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 68%;
  }
  .footer .container form label .submit-footer {
    width: 28%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--secondary);
    color: var(--white);
    cursor: pointer;
    border: 1px solid var(--secondary);
    transition: all 0.4s ease-in;
  }
  .footer .container form label .submit-footer:hover {
    background-color: var(--white);
    color: var(--secondary);
  }
  .footer .container .footer-icons ul {
    gap: 10px;
  }
  .footer .container .footer-icons ul li a {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }
  .footer .container .footer-icons ul li a:hover {
    color: var(--light-blue);
  }
  .footer .container .footer-icons ul li i {
    font-size: 30px;
  }
  .footer .container .footer-info p {
    color: var(--black);
    font-size: 0.9em;
  }
}
@media (max-width: 1200px) {
  .footer {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    background-color: var(--primary-color);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
  }
  .footer .container {
    max-width: 900px;
  }
  .footer .container form {
    padding: 2rem;
    background-color: var(--secondary);
    border-radius: 16px;
  }
  .footer .container form h3 {
    font-family: var(--font);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: var(--white);
  }
  .footer .container form label {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white);
    gap: 10px;
  }
  .footer .container form label .input-value {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 68%;
  }
  .footer .container form label .submit-footer {
    width: 28%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--secondary);
    color: var(--white);
    cursor: pointer;
    border: 1px solid var(--secondary);
    transition: all 0.4s ease-in;
  }
  .footer .container form label .submit-footer:hover {
    background-color: var(--white);
    color: var(--secondary);
  }
  .footer .container .footer-icons ul {
    gap: 10px;
  }
  .footer .container .footer-icons ul li a {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }
  .footer .container .footer-icons ul li a:hover {
    color: var(--light-blue);
  }
  .footer .container .footer-icons ul li i {
    font-size: 30px;
  }
  .footer .container .footer-info p {
    color: var(--black);
    font-size: 0.9em;
  }
}
@media (max-width: 1000px) {
  .footer {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    background-color: var(--primary-color);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
  }
  .footer .container {
    max-width: 750px;
  }
  .footer .container form {
    padding: 2rem;
    background-color: var(--secondary);
    border-radius: 16px;
  }
  .footer .container form h3 {
    font-family: var(--font);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: var(--white);
  }
  .footer .container form label {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white);
    gap: 10px;
  }
  .footer .container form label .input-value {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 68%;
  }
  .footer .container form label .submit-footer {
    width: 28%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--secondary);
    color: var(--white);
    cursor: pointer;
    border: 1px solid var(--secondary);
    transition: all 0.4s ease-in;
  }
  .footer .container form label .submit-footer:hover {
    background-color: var(--white);
    color: var(--secondary);
  }
  .footer .container .footer-icons ul {
    gap: 10px;
  }
  .footer .container .footer-icons ul li a {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }
  .footer .container .footer-icons ul li a:hover {
    color: var(--light-blue);
  }
  .footer .container .footer-icons ul li i {
    font-size: 30px;
  }
  .footer .container .footer-info p {
    color: var(--black);
    font-size: 0.9em;
  }
}
@media (max-width: 850px) {
  .footer {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    background-color: var(--primary-color);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
  }
  .footer .container {
    max-width: 650px;
  }
  .footer .container form {
    padding: 2rem;
    background-color: var(--secondary);
    border-radius: 16px;
  }
  .footer .container form h3 {
    font-family: var(--font);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: var(--white);
  }
  .footer .container form label {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white);
    gap: 10px;
  }
  .footer .container form label .input-value {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 68%;
  }
  .footer .container form label .submit-footer {
    width: 28%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--secondary);
    color: var(--white);
    cursor: pointer;
    border: 1px solid var(--secondary);
    transition: all 0.4s ease-in;
  }
  .footer .container form label .submit-footer:hover {
    background-color: var(--white);
    color: var(--secondary);
  }
  .footer .container .footer-icons {
    display: block;
  }
  .footer .container .footer-icons ul {
    gap: 10px;
    margin-bottom: 20px;
  }
  .footer .container .footer-icons ul li a {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }
  .footer .container .footer-icons ul li a:hover {
    color: var(--light-blue);
  }
  .footer .container .footer-icons ul li i {
    font-size: 30px;
  }
  .footer .container .footer-icons .social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .footer .container .footer-info {
    display: block;
    text-align: center;
  }
  .footer .container .footer-info p {
    color: var(--black);
    font-size: 0.9em;
  }
  .footer .container .footer-info img {
    margin: 20px 0;
  }
}
@media (max-width: 750px) {
  .footer {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    background-color: var(--primary-color);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
  }
  .footer .container {
    max-width: 550px;
  }
  .footer .container form {
    padding: 2rem;
    background-color: var(--secondary);
    border-radius: 16px;
  }
  .footer .container form h3 {
    font-family: var(--font);
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: var(--white);
  }
  .footer .container form label {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white);
    gap: 10px;
  }
  .footer .container form label .input-value {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 68%;
  }
  .footer .container form label .submit-footer {
    width: 28%;
    padding: 6px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--secondary);
    color: var(--white);
    cursor: pointer;
    border: 1px solid var(--secondary);
    transition: all 0.4s ease-in;
  }
  .footer .container form label .submit-footer:hover {
    background-color: var(--white);
    color: var(--secondary);
  }
  .footer .container .footer-icons {
    display: block;
  }
  .footer .container .footer-icons ul {
    gap: 10px;
    margin-bottom: 20px;
    justify-content: space-around;
  }
  .footer .container .footer-icons ul li a {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }
  .footer .container .footer-icons ul li a:hover {
    color: var(--light-blue);
  }
  .footer .container .footer-icons ul li i {
    font-size: 30px;
  }
  .footer .container .footer-icons .social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .footer .container .footer-info {
    display: block;
    text-align: center;
  }
  .footer .container .footer-info p {
    color: var(--black);
    font-size: 0.9em;
  }
  .footer .container .footer-info img {
    margin: 20px 0;
  }
}
@media (max-width: 600px) {
  .footer {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    background-color: var(--primary-color);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
  }
  .footer .container {
    max-width: 420px;
  }
  .footer .container form {
    padding: 2rem;
    background-color: var(--secondary);
    border-radius: 16px;
    display: block;
  }
  .footer .container form h3 {
    font-family: var(--font);
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: var(--white);
    margin-bottom: 20px;
    text-align: center;
  }
  .footer .container form label {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white);
    gap: 10px;
  }
  .footer .container form label .input-value {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 68%;
  }
  .footer .container form label .submit-footer {
    width: 28%;
    padding: 6px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--secondary);
    color: var(--white);
    cursor: pointer;
    border: 1px solid var(--secondary);
    transition: all 0.4s ease-in;
  }
  .footer .container form label .submit-footer:hover {
    background-color: var(--white);
    color: var(--secondary);
  }
  .footer .container .footer-icons {
    display: block;
  }
  .footer .container .footer-icons ul {
    gap: 10px;
    margin-bottom: 20px;
    justify-content: space-around;
  }
  .footer .container .footer-icons ul li a {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }
  .footer .container .footer-icons ul li a:hover {
    color: var(--light-blue);
  }
  .footer .container .footer-icons ul li i {
    font-size: 30px;
  }
  .footer .container .footer-icons .social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .footer .container .footer-info {
    display: block;
    text-align: center;
  }
  .footer .container .footer-info p {
    color: var(--black);
    font-size: 0.9em;
  }
  .footer .container .footer-info img {
    margin: 20px 0;
  }
}
@media (max-width: 450px) {
  .footer {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    background-color: var(--primary-color);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
  }
  .footer .container {
    max-width: 340px;
  }
  .footer .container form {
    padding: 1rem;
    background-color: var(--secondary);
    border-radius: 16px;
    display: block;
  }
  .footer .container form h3 {
    font-family: var(--font);
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: var(--white);
    margin-bottom: 20px;
    text-align: center;
  }
  .footer .container form label {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white);
    gap: 10px;
  }
  .footer .container form label .input-value {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 68%;
    font-size: 12px;
  }
  .footer .container form label .submit-footer {
    font-size: 12px;
    width: 28%;
    padding: 6px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--secondary);
    color: var(--white);
    cursor: pointer;
    border: 1px solid var(--secondary);
    transition: all 0.4s ease-in;
  }
  .footer .container form label .submit-footer:hover {
    background-color: var(--white);
    color: var(--secondary);
  }
  .footer .container .footer-icons {
    display: block;
  }
  .footer .container .footer-icons ul {
    gap: 10px;
    margin-bottom: 20px;
    justify-content: space-around;
  }
  .footer .container .footer-icons ul li a {
    color: var(--secondary);
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }
  .footer .container .footer-icons ul li a:hover {
    color: var(--light-blue);
  }
  .footer .container .footer-icons ul li i {
    font-size: 25px;
  }
  .footer .container .footer-icons .social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .footer .container .footer-info {
    display: block;
    text-align: center;
  }
  .footer .container .footer-info p {
    color: var(--black);
    font-size: 0.9em;
  }
  .footer .container .footer-info img {
    margin: 20px 0;
  }
}
@media (max-width: 360px) {
  .footer {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    background-color: var(--primary-color);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
  }
  .footer .container {
    max-width: 280px;
  }
  .footer .container form {
    padding: 1rem;
    background-color: var(--secondary);
    border-radius: 16px;
    display: block;
  }
  .footer .container form h3 {
    font-family: var(--font);
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: var(--white);
    margin-bottom: 20px;
    text-align: center;
  }
  .footer .container form label {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white);
    gap: 10px;
  }
  .footer .container form label .input-value {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 68%;
    font-size: 12px;
  }
  .footer .container form label .submit-footer {
    font-size: 12px;
    width: 28%;
    padding: 6px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--secondary);
    color: var(--white);
    cursor: pointer;
    border: 1px solid var(--secondary);
    transition: all 0.4s ease-in;
  }
  .footer .container form label .submit-footer:hover {
    background-color: var(--white);
    color: var(--secondary);
  }
  .footer .container .footer-icons {
    display: block;
  }
  .footer .container .footer-icons ul {
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
  }
  .footer .container .footer-icons ul li a {
    color: var(--secondary);
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }
  .footer .container .footer-icons ul li a:hover {
    color: var(--light-blue);
  }
  .footer .container .footer-icons ul li i {
    font-size: 25px;
  }
  .footer .container .footer-icons .social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .footer .container .footer-info {
    display: block;
    text-align: center;
  }
  .footer .container .footer-info p {
    color: var(--black);
    font-size: 0.9em;
  }
  .footer .container .footer-info img {
    margin: 20px 0;
  }
}/*# sourceMappingURL=footer.css.map */