:root{
    --primary-color: #FCEED5;
    --secondary: #003459;
    --secondary-hover: #003459a0;
    --light-blue: #00A7E7;
    --white: #FDFDFD;
    --black: #242B33;
    --font: 'SVN Gilroy' , sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1180px;
    width: 100%;
    margin: auto;
}
.flex{
    display: flex;
    align-items: center;
}
.space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rem1{
    padding-block: 1rem;
}
.rem2{
    padding-block: 2rem;
}
.rem3{
    padding-block: 3rem;
}
.rem4{
    padding-block: 4rem;
}
.padInline1{
    padding-inline: 1rem;
}
.padInline2{
    padding-inline: 2rem;
}

.text-center{
    text-align: center;
}
.text-decoration{
    text-decoration: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
input{
    all: unset;
}
button{
    all: unset;
    display: inline;
}
select{
    border: none;
}
.gap10{
    gap: 10px;
}
.btn-primary{
    padding: 14px 28px;
    border-radius: 57px;
    background-color: var(--secondary);
    color: var(--white);
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.4s ease-in;

    &:hover{
        background-color: var(--white);
        color: var(--secondary);
        border: 1px solid var(--secondary);
    }
}
.btn-secondary{
    padding: 14px 28px;
    border-radius: 57px;
    background-color: var(--white);
    color: var(--secondary);
    border: 1px solid var(--secondary);
    cursor: pointer;
    transition: all 0.4s ease-in;

    &:hover{
        background-color: var(--secondary);
        color: var(--white);
    }
}